@import '../../assets/scss/main.scss';

.form-label {
		display: block;
		margin-bottom: 12px !important;
		.required{
			color: #ff0000;
		}
		&.gray {
			color: #989AAA !important;
		}
	}

	.form-label--hide {
		display: none;
	}
.form-input {
	width: 240px;
	height: 46px;
	border-radius: 1px;
	border: solid 1px #ebebf2;
	padding: 0 16px;
	color: #333758;
	@include query(mobile, max) {
		width: 100%;
	}
	&::placeholder {
		color: #989aaa;
	}
	&:focus,
	&:focus-within {
		outline: none;
		background: #fff;
		border: solid 1px #5863f8;
	}

	&--search {
		width: calc(100% - 24px);
	}
}
.form-input--error {
    border-color: #fe6159;
    color: #fe6159;
    &:focus,
    &:focus-within {
        border-color: #fe6159;
    }
}
.input-error--msg {
    color: #fe6159;
    display: block;
    margin-top: 10px;
}
.form-icon {
	position: absolute;
	top: calc(50% - 9px);
	right: 16px;
}
.clear_Search {
	cursor: pointer;
}