@import '@/assets/scss/main.scss';
.main{
    display: flex;
}
.notepad{
    padding: 38px 48px 38px 0;
    &-title{
        font-size: 17px;
        font-weight: bold;
    }
    &-input{
        width: 227px;
        height: 100%;
        background-color: transparent;
        border: none;
        margin-top: 8px;
        resize: none; 
        &:focus,
	&:focus-within {
		outline: none;
		
	}
        &::placeholder{
            color: #333758;
            letter-spacing: -0.4px;
            opacity: .4;
            font-size: 14px;
        }
    }
}
.searched__wrapper{
    padding: 32px 24px 32px 24px ;
    border-left: 1px solid #f2f2f2;
}
.searched__wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 24px;
    .title{
        letter-spacing: -0.64px;
    }
}
.filter-sort, .filter{
    display: flex;
    align-items: center;
}
.sort{
   
    padding-right: 12px;
    svg{
        margin-left: 8px;
    }
}
.filter{
   
    border-left: 1px solid #ebebf2;
    padding: 3px 0 3px 33px;
}
.searched-result{
    padding-left: 24px;
    border-bottom: solid 2px #f2f2f2;
}
.searched__item{
    padding: 42px 0 39px;
    max-width: 450px;
    cursor: pointer;
    
    &-title{
        letter-spacing: -0.4px;
        color: #4361ee;
        white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
    }
    &-desc{
        line-height: 1.4;
        letter-spacing: -0.3px;
        margin: 18px 0 40px;
    }
    &-url{
        letter-spacing: -0.4px;
  color: #0ead69;
  display: flex;
  align-items: center;
  svg{
      margin-right: 8px;
  }
  .url-text{
    max-width: 370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    }
}
// .mobile__wrapper{
//     display: none;
// }
@include query(tablet, max) {
    .main{
        display: block;
    }
	.notepad{
        display: none;
    }
    .searched__wrapper{
        border-left: none;
        padding: 32px 4px;
        &-header{
            display: block;
            padding-left: 0;
            .title {
                display: flex;
                align-items: center;
                svg {
                    width: 10px;
                    margin-left: 15px;
                }
            }
        }
    }
    .searched-result{
        padding-left: 0;
    }
    .searched__item{
        max-width: 100%;
    }
}