@import '../../../assets/scss/main.scss';
.form-input--wrapper {
	position: relative;
	.form-password--icon {
		position: absolute;
		right: 13px;
		top: 9%;
		color: #fff;
		cursor: pointer;
		svg{
			&:focus,
	&:focus-within {
		outline: none;
	}
		}
	}
}