
.select {
  position: relative; 
  text-align: left;
  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
  &__legend {
    width: 100%;
  }
  &__options {
    position: absolute;
    z-index: 300;
    width: 100%;
    background: #fff;
    margin-top: -0.2rem;
    border: 1px solid #A9AAAE;
    box-shadow: 0px 32px 64px rgba(41, 43, 53, 0.08), 0px 1px 8px rgba(41, 43, 53, 0.04);
    border-radius: 0.4rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 290px;
    overflow: auto;
    &__empty {
      position: absolute;
      width: 100%;
      z-index: 300;
      background: #fff;
      margin-top: -2rem;
      border: 1px solid #A9AAAE;
      box-shadow: 0px 32px 64px rgba(41, 43, 53, 0.08), 0px 1px 8px rgba(41, 43, 53, 0.04);
      border-radius: 0.4rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: center;
      padding: 8.4rem 4.8rem;
      p {
        font-weight: 600;
      }
    }
  }
  &__option {
    display: flex;
    padding: 0 2.4rem;
    cursor: pointer;
    input[type="radio"],
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      display: inline-flex;
    }
    label {
      font-size: 1.6rem;
      line-height: 5.6rem;
      width: 100%;
      display: inline-flex;
    }
    &:hover,
    &:focus {
      background: rgba(14, 173, 105, 0.1);
    }
  }
}
.u-visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
