.main {
	min-height: 100vh;
	&--dashboard {
		background: #fcfcfc;
		width: calc(100% - 257px);
		margin-left: auto;
		transition: 0.3s all ease-out;
		animation: slide-dashboard 0.3s ease-out;

		&.sidebar-small {
			width: calc(100% - 104px);
		}

		&.on-settings {
			width: calc(100% - (257px + 326px));
			background: #fff;

			&--wide {
				width: calc(100% - (104px + 326px));
			}
		}

		&.on-tickets {
			width: calc(100% - (257px + 404.5px));
			background: #ffffff;
			overflow: auto;

			&--wide {
				width: calc(100% - (104px + 404.5px));
			}
		}

		& .sidebar__toggler {
			position: fixed;
			top: calc(50vh - 15px);
			background: #fff;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			left: calc(var(--width) - 15px);
			z-index: 19;
			border: 2px solid #1ecaab;
			display: grid;
			place-items: center;
			box-shadow: 0px 0px 10px rgba(151, 147, 147, 0.4);
			transform: rotate(var(--rotate));
			transition: 0.3s all ease-out;
			animation: toggler-slide 0.3s backwards ease-out;

			& svg {
				width: 15px;
				height: 15px;

				& path {
					fill: #1ecaab;
				}
			}
			&:hover {
				cursor: pointer;
				transform: scale(1.2) rotate(var(--rotate));
			}
		}
	}
	&__layout {
		padding-left: 43px;
		padding-right: 40px;
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2rem;
			&--sticky {
				position: sticky;
				top: calc(28px + 3.6rem);
				background: #ffffff;
				z-index: 20;
				padding-top: 1rem;
				padding-bottom: 0.5rem;
			}
		}
		&-title {
			font-weight: 500;
			color: #292b2a;
			margin-bottom: 5px;
			text-transform: capitalize;
			&.slim {
				font-weight: normal;
				font-size: 1.5rem;
				color: #292b2a;
			}

			&.large {
				font-size: 24px;
				line-height: 28px;
				font-weight: normal;
				letter-spacing: -0.02em;
			}
		}
		&-caption {
			font-size: 12px;
			color: #a7a7a7;
			line-height: 18px;
		}
	}
}

.section {
	&__auth {
		background: #ffffff;
		min-height: 100vh;
		display: flex;
		align-items: flex-end;
		padding-left: 7rem;
		padding-right: 7rem;
		&-content {
			width: 100%;
			// max-width: 338px;
			margin: 0 auto;
		}
		&-header {
			text-align: center;
		}
		&-logo {
			margin-bottom: 1rem;
			height: 62px;

			& img {
				height: 100%;
			}
		}
		&-meta {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			padding-top: 5rem;
			align-items: center;
			height: 30vh;
			justify-content: space-between;
			padding-bottom: 2rem;
			color: #a7a7a7;
		}
		&__meta {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			padding-top: 5rem;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 2rem;
			color: #a7a7a7;
		}
	}
	&__main {
		padding: 4rem;
	}
}

.table {
	&__wrapper {
		background: #ffffff;
		padding: 1rem 0;
	}
}

.card {
	background: #ffffff;
	padding: 1rem 12px 1rem 1rem;

	&.full-ht {
		height: calc(100vh - (86px + 2rem));
	}
	&--rounded {
		border-radius: 4px;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	&--box {
		border-radius: 8px;
		background: #ffffff;
	}

	&__top-layout {
		@include flex__sb;
		position: relative;

		&.disabled::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgb(255, 255, 255, 0.6);
			z-index: 2000;
		}

		& .filter {
			display: flex;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 46px;
	}
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		min-height: 60vh;
		align-self: center;
	}
}

.divider {
	position: relative;
	width: 0.4px;
	height: 22.5px;
	background: #a7a7a773;
	top: 10px;
	margin-left: 21px;
}

.input {
	&__heading {
		font-size: 0.875em;
		color: #4f4f4f;
		width: 100%;
		font-weight: 600;
		padding-bottom: 5px;
		border-bottom: 0.5px solid #d9d9d9;
		margin-bottom: 16px;

		&.no-bb {
			border: none;
			margin-bottom: 0;
		}
	}

	&__bottom-layout {
		& .top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 4px;
		}
	}
}

.btn__center {
	display: flex;
	justify-content: center;
	width: 100%;

	& .small {
		font-size: 0.875em;
		letter-spacing: -0.02em;
		color: #a7a7a7;
		outline: none;

		&:hover {
			cursor: pointer;
		}
	}
}

.title {
	&__heading {
		font-size: 1em;
		letter-spacing: -0.02em;
		color: #4f4f4f;
		border-bottom: 0.5px solid rgba(151, 147, 147, 0.4);
		padding-bottom: 21px;

		&.flex-display {
			padding: 0 0 7px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&.pt-none {
				padding-top: 0;
			}
		}

		& .text {
			font-size: 1em;
			letter-spacing: -0.02em;
			color: #4f4f4f;
			font-weight: 600;
		}

		& .right {
			display: flex;
			height: 46px;
		}
	}
}

.img {
	&__placeholder {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px dashed #1ecaab;
		margin-right: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		object-fit: cover;
		object-position: center center;
	}
	&__thumbnail {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 1rem;
		object-fit: cover;
		object-position: center;
	}
}

.halo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 152px;
	height: 152px;
	border-radius: 50%;
	background: #e8faf7;
}

.thumbnail {
	height: 28px;
	width: 28px;
	border-radius: 100%;
	object-fit: cover;
}

.icon__display {
	width: 10px;
	outline: none;

	&:hover {
		cursor: pointer;
	}

	img {
		width: 100%;
	}

	svg {
		width: 10px;

		&:hover {
			cursor: pointer;
		}
	}
}

.icon {
	margin: 0 0.5rem;
}
.col {
	color: #8c8c8c;
}

.highlight {
	text-decoration: underline;

	&:hover {
		cursor: pointer;
	}
}
.skeleton {
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__shimmer {
		height: 42px;
		min-width: 250px;
		background: linear-gradient(to right, #eff1f3 4%, #f8f9fb 25%, #eff1f3 36%);
		background-size: 1000px 100%;
		animation: shimmer 3s infinite linear;
		margin-bottom: 1rem;
		&--sm {
			min-width: 60px;
			margin-left: 1rem;
		}
		&--lg {
			max-width: 400px;
			height: 24px;
		}
		&--slim {
			height: 24px;
			max-width: 350px;
		}
		&--wide {
			width: 100%;
		}
	}
	&-head {
		height: 54px;
		background: linear-gradient(to right, #eff1f3 4%, #f8f9fb 25%, #eff1f3 36%);
		background-size: 1000px 100%;
		animation: shimmer 1s infinite linear;
		margin-bottom: 1rem;
	}
	&-row {
		border-bottom: 1px solid #f8f9fb;
		display: flex;
		justify-content: stretch;
		align-items: center;
		margin-bottom: 12px;
	}
	&-item {
		height: 12px;
		padding-bottom: 12px;
		margin-bottom: 12px;
		background: linear-gradient(to right, #eff1f3 4%, #f8f9fb 25%, #eff1f3 36%);
		background-size: 1000px 100%;
		flex-grow: 1;
		animation: shimmer 2s infinite linear;
		&:not(:last-of-type) {
			margin-right: 50px;
		}
	}
}
.text {
	&--link {
		color: #1ecaab !important;
		cursor: pointer;
	}
	&--options {
		margin-top: 24px;
	}
}

@keyframes toggler-slide {
	0% {
		left: 0;
	}

	100% {
		left: 242px;
	}
}
