.modal{

&-overlay {
	position: fixed;
	left:0;
	top: 0;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(13, 15, 17, .3);
	backdrop-filter: blur(2px);
	width:100%;
	z-index: 2;
	-webkit-animation: fadeIn 0.3s;
	animation: fadeIn 0.3s;
	// visibility: hidden;
  // opacity: 0;
	overflow: hidden;
	transition: .3s all ease-out;

	// &.open {
	// 	visibility: visible;
	// 	opacity: 1;
	// }
}

	&-body{
		max-width: 496px;
		margin: 0 auto;
		height: auto;
		width: 100%;
		margin-top: 15%;
		padding: 33px;
		background: #fff;
		-webkit-animation: fadeIn 0.3s;
		animation: fadeIn 0.3s;
		//transition: .3s all ease-out;
		// transform: translateX(100%);
		
		// &.open {
		// 	transform: translateX(0);
		// }
	}
	&-info {
		// padding: 24px 32px;
		margin-top: 22px;
		margin-bottom: 32px;
		// font-size: 16px;
		// font-weight: normal;
		// line-height: 20px;
		letter-spacing: -0.02em;
		color: #333758;
		opacity: 0.8;
	}
	&-header {
		// padding: 24px 32px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #D7DCE0;
	}
	&-right {
		align-items: flex-end;
		.modal {
			&-body {
				width: 496px;
				margin-right: 0;
				margin-top: 0;
				height: 100vh;
				padding: 0;
				animation: slideInLeft 0.5s;
				-webkit-animation: slideInLeft 0.5s;
			}
		
			&-header, &-content, &-info {
				width: inherit; 
			}

			&-header {
				padding: 24px 32px;
				display: flex;
				margin-right: 32px;

				&--title {
					margin-left: 0;
					display: block;
					font-weight: bold;
					letter-spacing: -0.53px;
					color: #fff;
					font-size: 20px;
					margin-bottom: 8px;
				}
			}
			&-content {
				padding: 40px 32px;
				overflow: auto;
			}
			&-info {
				padding: 40px 32px;
				overflow: auto;
			}
		}
	}
}

.form-group{
	margin-bottom: 24px;
  font-size: 14px;
  color: #333758;
  letter-spacing: -0.12px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  position: relative;	
}
.modal-header--close {
	cursor: pointer;
}


@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes slideInLeft {
	0% {
			transform: translate3d(100%, 0, 0);
	}
	100% {
			transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInLeft {
	0% {
			transform: translate3d(100%, 0, 0);
	}
	100% {
			transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slideOutRight {
	0% {
			transform: translate3d(0, 0, 0);
	}
	100% {
			transform: translate3d(100%, 0, 0);
	}
}
@keyframes slideOutRight {
	0% {
			transform: translate3d(0, 0, 0);
	}
	100% {
			transform: translate3d(100%, 0, 0);
	}
}


.fadeIn {
	-webkit-animation-name: fadeIn !important;
	animation-name: fadeIn !important;
}

.fadeOut {
	-webkit-animation-name: fadeOut !important;
	animation-name: fadeOut !important;
	animation-fill-mode: forwards !important;
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}
.slideOutRight {
	-webkit-animation-name: slideOutRight !important;
	animation-name: slideOutRight !important;
}