// padding and margin utility classes e.g .p-* && .m-*
@for $i from 0 through 10 {
	.p {
		&-#{$i} {
			padding: #{$i}rem;
		}
		&y-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
		&x-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		&t-#{$i} {
			padding-top: #{$i}rem;
		}
		&b-#{$i} {
			padding-bottom: #{$i}rem;
		}
		&l-#{$i} {
			padding-left: #{$i}rem;
		}
		&r-#{$i} {
			padding-right: #{$i}rem;
		}
	}
	.m {
		&-#{$i} {
			margin: #{$i}rem !important;
		}
		&y-#{$i} {
			margin-top: #{$i}rem !important;
			margin-bottom: #{$i}rem !important;
		}
		&x-#{$i} {
			margin-left: #{$i}rem !important;
			margin-right: #{$i}rem !important;
		}
		&t-#{$i} {
			margin-top: #{$i}rem !important;
		}
		&b-#{$i} {
			margin-bottom: #{$i}rem !important;
		}
		&l-#{$i} {
			margin-left: #{$i}rem !important;
		}
		&r-#{$i} {
			margin-right: #{$i}rem !important;
		}
	}
}

.u {
	&-relative {
		position: relative;
	}
	&-absolute {
		position: absolute;
	}
	&-mobile {
		&-hidden {
			@include query(tablet) {
				display: none;
			}
		}
	}
}
.ls-closer {
	letter-spacing: -0.12px;
}
.ls-close {
	letter-spacing: -0.5px;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}
.text-capitalize{
	text-transform: capitalize;
}
.sticky-page{
	position: fixed;
    right: 0;
    left: 0;
}
@include query(mobile, max) {
    .grid__layout{
        .col-md-12 {
            grid-column: span 12 !important
        }
	}
}
@include query(tablet, max) {
    .grid__layout{
        .col-tb-12 {
            grid-column: span 12 !important
        }
	}
}

.loader-title {
	height: 15px;
	width: 50%;
	margin-bottom: 10px;
}
.loader-content {
	width: 100%;
	height: 25px;
	margin-bottom: 11px;
}

.item {
	background: linear-gradient(90deg, #f8f9fb, #e2e6f3, #f8f9fb, #e2e6f3);
	animation: skeleton 2s ease infinite;
	background-size: 300% 100%;
}
.spinner {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tweet--error{
	color: gray;
	font-size: 16px;
	border: 1px solid #55ACED;
	height: 100px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@-webkit-keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}
@keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}
