// padding and margin utility classes e.g .p-* && .m-*
@for $i from 0 through 10 {
	.p {
		&-#{$i} {
			padding: #{$i}rem;
		}
		&y-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
		&x-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		&t-#{$i} {
			padding-top: #{$i}rem;
		}
		&b-#{$i} {
			padding-bottom: #{$i}rem;
		}
		&l-#{$i} {
			padding-left: #{$i}rem;
		}
		&r-#{$i} {
			padding-right: #{$i}rem;
		}
	}
	.m {
		&-#{$i} {
			margin: #{$i}rem !important;
		}
		&y-#{$i} {
			margin-top: #{$i}rem !important;
			margin-bottom: #{$i}rem !important;
		}
		&x-#{$i} {
			margin-left: #{$i}rem !important;
			margin-right: #{$i}rem !important;
		}
		&t-#{$i} {
			margin-top: #{$i}rem !important;
		}
		&b-#{$i} {
			margin-bottom: #{$i}rem !important;
		}
		&l-#{$i} {
			margin-left: #{$i}rem !important;
		}
		&r-#{$i} {
			margin-right: #{$i}rem !important;
		}
	}
}

.u {
	&-relative {
		position: relative;
	}
	&-absolute {
		position: absolute;
	}
	&-mobile {
		&-hidden {
			@include query(tablet) {
				display: none;
			}
		}
	}
}
.ls-closer {
	letter-spacing: -0.12px;
}
.ls-close {
	letter-spacing: -0.5px;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}
.text-capitalize{
	text-transform: capitalize;
}
.sticky-page{
	position: fixed;
    right: 0;
    left: 0;
}
@include query(mobile, max) {
    .grid__layout{
        .col-md-12 {
            grid-column: span 12 !important
        }
	}
}
@include query(tablet, max) {
    .grid__layout{
        .col-tb-12 {
            grid-column: span 12 !important
        }
	}
}

.loader-title {
	height: 15px;
	width: 50%;
	margin-bottom: 10px;
}
.loader-content {
	width: 100%;
	height: 25px;
	margin-bottom: 11px;
}

.item {
	background: linear-gradient(90deg, #f8f9fb, #e2e6f3, #f8f9fb, #e2e6f3);
	animation: skeleton 2s ease infinite;
	background-size: 300% 100%;
}
@-webkit-keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}
@keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.tab {
  padding: 4px 16px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #ebedfe57;
  }
  &.active {
    background-color: #EBEDFE;
		color: #3B48F7;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}