@import '../../assets/scss/main.scss';
.dropdown {
		&__wrapper {
            // padding: 12px 0;
			 padding: 1rem;
			display: flex;
			align-items: center;
			cursor: pointer;
			@include query(desktop, max) {
				cursor: auto;
			}
		}
		&__btn-wrapper {
			display: flex;
			background-color: #f8f9fb;
			border-radius: 3px;
			position: relative;
		}
		&__text {
			color: #85879b;
		}
		&__item {
			margin: 0;
            position: relative;
            padding: 12px 16px;
			cursor: pointer;
			
			&:hover {
				background-color: rgba(59, 72, 247,.05);
				 color: #3b48f7;
			}
		}
		&__list {
			padding: 0;
			margin: 5px 0;
			border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
			&-wrapper {
				position: absolute;
				top: 135%;
				right: 0;
				z-index: 100;
                background: #fff;
				min-width: 100px;
				@include query(mobile, max) {
					right: auto;
				}
			}
			&:focus {
				outline: none;
			}
		}
	}
