.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.25px;
    color: #0E347E;
  }
}
.search-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-icon {
  margin-left: 8px;
}

.emptyState {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 152px;

  &-text {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #2F2E80;
  }
  &-subtext {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05px;
    color: #3A434B;
    margin-top: 8px;
    margin-bottom: 23px;
  }
}
.time {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #989AAA;
}
.form-group{
	margin-bottom: 24px;
  font-size: 14px;
  color: #989AAA;
  letter-spacing: -0.12px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  position: relative;	
}

.file-wrapper {
  border: 2px dashed #D1D5DB;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 22px 26px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-link {
margin: 4px 0;
}

.csv {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #989AAA;
  margin: 4px 0;
}
.file-uploads,
.file-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.002em;
  color: #3B48F7;
}
.file-text {
  font-weight: normal;
  color: #333758;

}
.check-input {
	margin-left: 7px;
}
.detail__circle {
  width: 32px;
  height: 32px;
  background: #E9E5FF;
  box-sizing: border-box;
  border-radius: 18px;
  margin-right: 12px;
  display: flex;
}
.detail__initials {
  margin: auto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #333758;
}
.modal-text {
  font-size: 16px;
  line-height: 24px;
  color: #333758;
  margin-bottom: 40px;
}

.toggle-prompt,
.toggle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0D0F11;
}
.toggle-text {
  font-weight: normal;
  color: #333758;
}
.toggle-group {
  margin-top: 16px;
  margin-bottom: 32px;
}

.select-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color:  #989AAA;
  display: block;
  margin-bottom: 12px;
}
.modal__content{
  &-text{
    margin: 16px 0 32px;
    .name{
      font-weight: 600;
    }
  }
  &-btn{
    display: flex;
      align-items: center;
    justify-content: flex-end;
  }
  .cancel{
    padding: 10px;
    margin-right: 6px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 24px;
    cursor: pointer;
  }
}
.select-input {
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 1px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
    height: 46px;
    width: 204px;
    padding: 0 16px;
    outline: none;
    color: #0B2253;
    // margin-top: 8px;
    font-size: 14px;
    letter-spacing: -0.05px;
  }

  .add-icon {
    margin-right: 8px;
  }
  .email-field {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 1px;
    border: solid 1px #ebebf2;
    padding: 12px 16px;
    min-height: 48px;
    margin-bottom: 24px;
  }
  .inputField {
    border: none;
    height: 32px;
    min-width: 176px;
  }
  .table__pagination__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 0 20px;
    .title__left {
      span {
        margin-right: 0.5em;
      }
    }
    .page__left {
      span {
        margin-left: 0.5em;
      }
  
      .active {
        background: rgba(47, 46, 128, 0.1);
        border-radius: 2px;
        padding: 5px 10px;
      }
    }	
  }
 