.form-group {
	margin: 0;
}

.checkbox {

	display: flex;
	line-height: 1.3;

	input[type="checkbox"] {
		opacity: 0;
		width: 0;
	}

	label {
		color: #333758;
		padding-left: 36px;
		flex: 1;
		text-transform: none;
		position: relative;
		display: inline-block;
	}

	input[type="checkbox"]+label::after {
		content: none;
	}

	input[type="checkbox"]:checked+label::after {
		content: "";
	}

	input[type="checkbox"]:checked+label::before {
		background-color: rgba(4, 126, 255, .3);
		border: 2px solid #047eff;
	}

	label::before {
		// content: '';


		background: #ffffff;
		border-radius: 0.2rem;
		content: "";
		display: inline-block;
		height: 14px;
		width: 14px;
		border: 2px solid #dadce1;
		top: 0;
		left: 0;
		position: absolute;
		box-sizing: content-box;
	}

	label::after {
		position: absolute;
		height: 0.29rem;
		width: 0.7rem;
		border-left: 2px solid #047eff;
		border-bottom: 2px solid #047eff;
		transform: rotate(-50deg);
		left: 0.2rem;
		top: 0.4rem;
		display: inline-block;
	}

}