@import '@/assets/scss/main.scss';

.hook-page {
  overflow: hidden;
  // margin-top: 2em;
}
.hookArticles {
  margin-top: 34px;
  margin-bottom: 50px;
  padding-right: 32px;
  position: fixed;
  width: 25.97%;
  transition: .2s all ease-in;

  &.closed {
    left: -25.97%;
  }

  &.open {
    left: 4.2%;
  }

  &__body {
    max-height: 90vh;
    overflow-y: scroll;
    padding-bottom: 7em;
  }

  &__header {
    padding: 0 16px;

    .section-title {
      width: fit-content;
      padding: 0.5rem 0;
      font-size: 20px;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.64px;
    }
    
    .section-title::after {
      content: '';
      border-bottom: 4px solid #3b48f7;
      display: block;
      margin-top: 4px;
    }

  }
}


.emailgen-group {
  border-left: 1px solid #f2f2f2;
  display: flex;
  margin-left: 300px;
  height: calc(100vh - 97px);
  transition: .2s all ease-in;

  &.closed {
    margin-left: 25px;
  }

  &.open {
    margin-left: 30%;
  }
}
.hook-section {
	border-left: none;
	border-right: 1px solid #f2f2f2;
	max-width: 514px;
  width: 39.5%;
  min-width: 364px;
  margin-top: 34px;
  max-height: 90vh;
  padding: 0 32px;
  overflow-y: scroll;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 33px;

    &-text {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.64px;
      color: #333758;
      margin-right: 11px;
    }
  }
}
.toggle-arrow {
  position: absolute;
  // left: 29%;
  top: 133px;
  margin-left: -44px;
  cursor: pointer;
  // transition: all 0.2s 0.25s;
  // transform: rotate(180deg);

  &.open {
    transform: rotate(0);
    transition: transform .5s linear;
  }
  &.closed {
    transform: rotate(180deg);
    transition: transform .5s linear;
  }
}

.section__1 {
	border-bottom: 1px solid #eaebeb;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.453333px;
    color: #202F44;
  }

  .contact__details {
    margin-top: 1em;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.453333px;
    color: #202f44;

    .text__initials {
      background: #e9e5ff;
      color: #333758;
      text-align: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text__name__role {
      margin-left: 1em;

      .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.4px;
        color: #333758;
        margin-bottom: 4px;
      }

      .role {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.4px;
        color: #989aaa;
      }
    }
  }
}
.section__2 {
  padding-bottom: 1em;
  margin-left: 57px;

  .contact__address {
    margin-top: 22px;

    .title,
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #989aaa;
      letter-spacing: -0.4;
    }

    .text {
      font-size: 14px;
      color: #333758;
    }
  }

  .contact__icon__group {
    margin-top: 1em;
    display: flex;

    svg {
      margin-right: 1em;
      width: 18px;
      height: 16px;
    }
  }
}
.section__3 {
  
  .email-intro__single {
    margin-top: 20px;
    background: #F7F9FB;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    margin-bottom: 12px;
    transition: all 0.3s;

    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 8px;
      
      .subject {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #333758;
        cursor: pointer;
        max-width: 245px;
      }
    }

    &__content {
      
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.4px;
        color: #333758;
      }
    }

  }
}
.item__detail {
	height: calc(100vh - 97px);
	overflow-y: scroll;
	&-url {
		letter-spacing: -0.4px;
		color: #0ead69;
		cursor: pointer;
	}
	&-title {
		font-size: 24px;
		letter-spacing: -0.53px;
		font-weight: bold;
		margin: 16px 0;
		display: inline;
	}
	&-content {
		margin-top: 32px;
		line-height: 1.6;
		letter-spacing: -0.4px;
		// max-width: 742px;
		
	}
	&-date {
		letter-spacing: -0.4px;
		opacity: 0.23;
	}
}
.editHook-icons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  .icon {
    margin-right: 9px;
    cursor: pointer;
  }
}
.generateBtn {
  margin-top: 50px;
  margin-bottom: 82px;
}
.rad {
  border-radius: 8px;
}
.hookTextarea,
.subjectTextarea {
  resize: none;
  min-height: 120px;
  width: 100%;
  padding: 14px;
  margin-top: 24px;
  border: 1px solid #EAEBEB;
  border-radius: 4px;
  overflow-y: scroll;
	scroll-behavior: smooth;
  letter-spacing: -0.4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;;
  color: #333758;
  margin-bottom: 20px;

  &::placeholder {
    color: #979BAA;
  }
}
.subjectTextarea{
  min-height: 60px;
  margin-bottom: 0;

}
.textLabel {
	font-size: 14px;
	line-height: 16px;
	color: #989AAA;
}
.email-subject {
	padding: 16px;
	background-color: #FFF;
  border: 1px solid #EAEBEB;
	border-radius: 4px ;
	flex-grow: 1;
	box-sizing: border-box;
	line-height: 14px;
	margin-top: 8px;
	margin-bottom: 24px;

	&__wrapper {
		font-size: 16px;
    font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.3px;
		color: #202F44;
	}
}
.email-recipient {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.3px;
	color: #989AAA;
	font-weight: 500;
}
.copyhook__btn {
	display: flex;
	justify-content: flex-end;
}
.emptyState {
	margin-top: 62px;
	display: flex;
	flex-direction: column;
	align-items: center;

  &.article {
    margin: auto;
  }
	&-text {
		margin-top: 26px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: -0.117188px;
		color: #333758;
	}
}
.hook-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #989AAA;
  opacity: 0.8;
  display: block;
  margin-bottom: 8px;
}
.article-section {
  padding: 0 32px;
}