.sidebar {
  position: fixed;
  width: 248px;
  height: 100vh;
  background-color:  #162A56;
  padding: 25px 16px;
  z-index: 9;

  &__header {
    padding-left: 12px;
  }

  &__tabs {
    margin-top: 24px;
  }
}
.single-tab {
  padding: 12px 16px;
  // background: rgba(139, 149, 171, 0.24);
  border-radius: 4px;
  margin-bottom: 8px;

  &__icon {
    margin-right: 12px;
  }
}
.single-tab {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  display: flex;
  cursor: pointer;
}
.single-tab:hover,
 .single-tab.active {
    background: rgba(139, 149, 171, 0.24);
    border-radius: 4px;
    font-weight: 600;
}