@import '../../assets/scss/main.scss';
.table {
	width: 100%;
	// &__wrapper {
	// 	overflow: hidden;
	// 	overflow-x: auto;
	// }
	&__header {
		background-color: #f8f9fb;
		&-item {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			font-weight: 400;
			padding: 1.5rem 1.125rem;
			text-align: left;
			white-space: nowrap;
		}
		&-icon {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			margin-left: 10px;
		}
	}
	&--center {
		text-align: center;
	}
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
	&__row {
		border-bottom: 1px solid #f8f9fb;
		&-item {
			padding: 1.5rem 1.125rem;
			font-size: 15px;
			white-space: nowrap;
		}
	}
	&--plain {
		.table__row-item {
			padding: 1rem 1.25rem;
		}
		.table__row {
			&:last-of-type {
				border-bottom: none !important;
			}
		}
	}
}
.table__loading {
	&-header,  &-item{
		background: linear-gradient(90deg,  #f8f9fb, #e2e6f3, #f8f9fb, #e2e6f3);
		animation: skeleton 2s ease infinite;
		background-size: 300% 100%;
	}
	&-header {
		height: 54px;
	}
	&-row {
		padding: 23px 16px;
		@include flex;
		justify-content: space-between;
		border-bottom: 1px solid #f2f2f2;
	}
	&-item {
		height: 12px;
		
		&:nth-child(even) {
			width: 140px;
		}
		&:nth-child(odd) {
			width: 180px;
		}
		&:first-child {
			width: 80px;
		}
	}
}
.empty__table {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 502px;
	margin: 100px auto;
	text-align: center;
	&-header {
		margin: 32px 0 16px;
	}
	&-desc {
		line-height: 1.47;
		letter-spacing: -0.5px;
	}
}
@-webkit-keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}
@keyframes skeleton {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}