.toggle {
	width: 50px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
	align-self: center;
	user-select: none;

	&-icon {
		width: 50px;
		background: none;
		display: flex;
		align-items: center;
		height: 25px;
		z-index: 0;
		margin: 0;
		padding: 0;
		appearance: none;
		border: none;
		position: relative;
		transition: 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		border-radius: 16px;
    background: #EAEBEB;
		&:before {
			content: '';
			height: 25px;
			top: auto;
			left: 0;
			position: absolute;
			width: 50px;
			border-radius: 16px;
			z-index: 1;
			transition-duration: 0.3s;
			transform: scale(1);

		}
		&:after {
			width: 15px;
			height: 15px;
			top: auto;
			left: 5px;
			box-shadow: none;
			border-radius: 15px;
			background: #fff;
			position: absolute;
			z-index: 2;
			transform: translateX(0);
			transition-duration: 0.3s;
			content: '';
		}
	}
	input[type='checkbox'] {
		display: none;
	}
  input[type='checkbox']:checked + .toggle-icon {
    background: #0ead69;
  }
	input[type='checkbox']:checked + .toggle-icon {
		&:before {
			transform: scale(0);
		}
		&::after {
			transform: translateX(22px);
			background: #fff;
		}
	}
}