.navbar {
	margin: 32px 0 85px;
	display: block;
}
.nav-item {
	&.logo {
		display: flex;
		align-items: center;
		&-text {
			line-height: 1.25;
			letter-spacing: -0.57px;
			font-size: 24px;
		}
	}
}
.main {
	padding: 0 110px;
	margin-block: 100px;
	.hero {
		max-width: 535px;
		&-title {
			font-size: 32px;
			line-height: 1.56;
			letter-spacing: -0.76px;

			span {
				background-color: rgba(14, 173, 105, 0.1);
				color: #0ead69;
				border-bottom: 2px solid rgba(14, 173, 105, 0.1);
			}
		}
		&-desc {
			line-height: 2;
			letter-spacing: -0.3px;
			font-size: 17px;
			margin: 32px 0 90px;
		}
	}
}
.btn {
	height: 46px;
	padding: 0 58px;
	border-radius: 1px;
	&.btn-primary {
		background: #3b48f7;
		color: #fff;
	}
}
.search-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 920px;
}
.more-filter {
	color: #3b48f7;
	letter-spacing: -0.36px;
	text-decoration: underline;
	margin: 27px 0 67px;
}
.table {
	max-width: 920px;
	width: 100%;
	&__wrapper {
		overflow: hidden;
		overflow-x: auto;
	}
}
thead.table__header {
	border: solid 1px #efefef;
}

.table__header-item {
	padding: 1rem 1.5rem;
	text-align: left;
	white-space: nowrap;
}
.table__header-space {
	height: 11px;
	background: #fff;
}
.table__row {
	border: solid 1px #ebebf2;
	background-color: #f9f9f9;
}

.table__row-item {
	padding: 1rem 1.5rem;
}

.toggle {
	width: 50px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
	align-self: center;
	user-select: none;

	&-icon {
		width: 50px;
		background: none;
		display: flex;
		align-items: center;
		height: 25px;
		z-index: 0;
		margin: 0;
		padding: 0;
		appearance: none;
		border: none;
		position: relative;
		transition: 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		border-radius: 16px;
		background: #fff;
		border: solid 1px #ebebf2;
		&:before {
			content: '';
			height: 25px;
			top: auto;
			left: 0;
			position: absolute;
			width: 50px;
			border-radius: 16px;
			z-index: 1;
			transition-duration: 0.3s;
			transform: scale(1);
		}
		&:after {
			width: 15px;
			height: 15px;
			top: auto;
			left: 5px;
			box-shadow: none;
			border-radius: 15px;
			background: #333758;
			position: absolute;
			z-index: 2;
			transform: translateX(0);
			transition-duration: 0.3s;
			content: '';
		}
	}
	input[type='checkbox'] {
		display: none;
	}
	input[type='checkbox']:checked + .toggle-icon {
		&:before {
			transform: scale(0);
		}
		&::after {
			transform: translateX(22px);
			background: #0ead69;
		}
	}
}