@import '@/assets/scss/main.scss';
.searched__wrapper {
	border-left: none;
	border-right: 1px solid #f2f2f2;
	padding-bottom: 0;
	max-width: 514px;
	width: 100%;
	&-content {
		max-height: 75vh;
		overflow-y: scroll;
	}
	&-header {
		.title {
			display: flex;
			align-items: center;
			svg {
				width: 10px;
				margin-left: 15px;
			}
		}
	}
}
.grey-color {
	background: #fafafa;
}
.item__detail {
	padding: 40px 0 40px 64px;
	height: calc(100vh - 97px);
	overflow-y: scroll;
	&-url {
		letter-spacing: -0.4px;
		color: #0ead69;
	}
	&-title {
		font-size: 20px;
		letter-spacing: -0.53px;
		font-weight: bold;
		margin: 16px 0;
	}
	&-content {
		margin-top: 32px;
		line-height: 1.6;
		letter-spacing: -0.4px;
		max-width: 742px;
		
	}
	&-date {
		letter-spacing: -0.4px;
		opacity: 0.23;
	}
}

.notepad {
	padding: 15px 0 24px 24px;
	background-color: #fafafa;
	.title-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		svg {
			cursor: pointer;
		}
	}
	&-input {
		width: 100%;
	}
}
.image-placeholder{
	text-align: center;
	svg{
		width: 150px;
		height: 150px;
	}
}
.filter__tags {
	display: flex;
	margin-top: 20px;
	align-items: flex-start;
	.tag__badge {
		margin: 6px 18px 0 0;
	}
	.tag {
		margin: 6px 6px 6px 0;
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
.iframe-wrapper{
	border: 1px solid #f2f2f2
}

@include query(tablet, max) {
	.searched__wrapper{
		display: none;
	}
	.item__detail{
		padding: 32px 4px;
	}
}


.url__bookmark__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}