@import '../../assets/scss/main.scss';
.navbar {
	margin: 32px 0 85px;
	display: block;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-item {
	&.logo {
		display: flex;
		align-items: center;
		&-text {
			line-height: 1.25;
			letter-spacing: -0.57px;
			font-size: 24px;
		}
	}
}
.nav__menu__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.search__icon__wrapper {
		margin-right: 25px;
		cursor: pointer;
	}
	.user__menu__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 5px;
		.user__dropdown__menu {
			.dropdown__list-wrapper {
				top: 100%;
			}
		}
	}
}
.main-section {
	// padding: 0 110px;
	margin-block: 100px;
	.hero {
		max-width: 535px;
		&-title {
			font-size: 32px;
			line-height: 1.56;
			letter-spacing: -0.76px;

			span {
				background-color: rgba(14, 173, 105, 0.1);
				color: #0ead69;
				border-bottom: 2px solid rgba(14, 173, 105, 0.1);
			}
		}
		&-desc {
			line-height: 2;
			letter-spacing: -0.3px;
			font-size: 17px;
			margin: 3px 0 90px;
		}
	}
}
//
.contact__research__menu {
	display: flex;
	justify-content: space-between;
	.text__title {
		h2 {
			font-size: 32px;
			line-height: 1.56;
			letter-spacing: -0.76px;
		}
	}
	.action__group {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.btn__wrapper {
	.btn__export__csv {
		padding: 0 24px;
		width: 128px;
	}
	.btn__import__contact {
		padding: 0 24px;
	}
}
.table {
	max-width: 920px;
	width: 100%;
	&__wrapper {
		// overflow: hidden;
		// overflow-x: auto;

		.table__wrapper__header {
			display: flex;
			justify-content: space-between;
			max-width: 920px;
			margin-bottom: 2em;
			.text__content {
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 50px;
				letter-spacing: -0.761905px;
				color: #333758;
			}
			.table__wrapper__header__btn__wrapper {
				.table__wrapper__btn__close {
					outline: none;
					background: none;
					padding: 0;
					.btn__content__wrapper {
						.text {
							outline: none;
							background: none;
							font-family: Karla;
							font-style: normal;
							font-weight: normal;
							font-size: 15px;
							line-height: 18px;
							letter-spacing: -0.4px;
							color: #333758;
						}
					}
				}
			}
		}
	}
	&__inpage {
		table {
			// margin: 0 auto;
		}
	}
}
thead.table__header {
	border: solid 1px #efefef;
}

.table__header-item {
	padding: 1rem 1.5rem;
	text-align: left;
	white-space: nowrap;
}
.table__header-space {
	height: 11px;
	background: #fff;
}
.table__row {
	border: solid 1px #ebebf2;
	background-color: #f9f9f9;
}

.table__row-item {
	padding: 1rem 1.5rem;
}
.emptyState {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	margin-top: 152px;
  
	&-text {
	  margin-top: 16px;
	  font-weight: 600;
	  font-size: 16px;
	  line-height: 24px;
	  text-align: center;
	  letter-spacing: 0.2px;
	  color: #2F2E80;
	}
  }
.modal__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #D7DCE0;
	padding-bottom: 15px;
	&-title{
		line-height: 24px;
    	letter-spacing: 0.25px;
	}
	.icon{
		cursor: pointer;
	}
}
.modal__content{
	&-text{
		margin: 16px 0 32px;
		.name{
			font-weight: 600;
		}
	}
	&-btn{
		display: flex;
    	align-items: center;
		justify-content: flex-end;
	}
	.cancel{
		padding: 10px;
		margin-right: 6px;
		font-weight: 600;
		letter-spacing: 0.2px;
		line-height: 24px;
		cursor: pointer;
	}
}
@include query(desktop, max) {
	.main-section {
		padding: 0 50px;
	}
	.search-wrapper {
		justify-content: flex-start;
	}
	.search-input {
		margin: 0 10px 15px 0;
	}
	.more-filter {
		margin-top: 12px;
	}
	.btn {
		width: 240px;
	}
}

@include query(tablet, max) {
	.main-section {
		padding: 0;
	}
}
@include query(mobile, max) {
	.search-input {
		width: 100%;
	}
	.search_btn {
		width: 100%;
		margin-right: 10px;
	}
	.keywords-input {
		width: 240px;
	}
}

.table__td__name {
	display: flex;
	align-items: center;
	.initials__logo {
		padding: 7px;
		border-radius: 50%;
		margin-right: 1em;
		background: #e9e5ff;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #333758;
	}
	.text__name {
		font-family: Karla;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 16px;
		color: #333758;
		text-transform: capitalize;
	}
	.text__email {
		font-family: Karla;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 10px;
		color: #989aaa;
		margin-top: 0.5em;
	}
	
}
.text__title{
	text-transform: capitalize;
}
.row-link{
	max-width: 136px;
	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #0ead69;
}
.table__td__link {
	font-family: Karla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	padding: 10px;
	line-height: 16px;
	color: #0ead69;
}

.table__td__status {
	.status_done {
		background: #eafbf1;
		border: 1px solid #c0f2d4;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 8px;
		max-width: 70px;

		.white__circle {
			width: 12px;
			height: 12px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			.pin {
				width: 6px;
				height: 6px;
				background: #1e944d;
				border-radius: 50%;
			}
		}
		.text {
			font-family: Karla;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			color: #166a37;
		}
	}
	.status_pending {
		background: #fff8e5;
		border: 1px solid #ffde80;
		box-sizing: border-box;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 8px;
		max-width: 100px;

		.white__circle {
			width: 12px;
			height: 12px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			.pin {
				width: 6px;
				height: 6px;
				background: #b38400;
				border-radius: 50%;
			}
		}
		.text {
			font-family: Karla;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			color: #805e00;
		}
	}
}
.table__pagination__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
	.title__left {
		span {
			margin-right: 0.5em;
		}
	}
	.page__left {
		span {
			margin-left: 0.5em;
		}

		.active {
			background: rgba(47, 46, 128, 0.1);
			border-radius: 2px;
			padding: 5px 10px;
		}
	}
	
}

